.product-article {
    padding: 10px 20px;
    border: none;
}

table {
    border: none !important;
    border: transparent !important;
}

.no-border {
    border: none;
    width: 100%;
}

.no-border td, .no-border th {
    border: none;
}

.img-size {
    width: 350px;
    height: 350px;
}