.title {
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.product-article {
    padding: 10px 20px;
    border: none;
    background-color: grey;
}

.no-border {
    border: none !important;
    border: transparent !important;
    width: 100%;
}

.no-border td, .no-border th {
    border: none !important;
}

.img-size {
    width: 350px;
    height: 350px;
}