.product-article {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: red;
    align-items: center;
    padding: 10px 20px;
}

.product-image, .product-info {
    flex: 1;
    text-align: center;
}

.img-size {
    width: 350px;
    height: 350px;
}