.btn-pdf {
    background-color: #C02A24 !important; /* Rojo típico de PDF */
    color: white !important; /* Texto en blanco para contraste */
    border: none !important; /* Opcional: elimina el borde */
}

.btn-pdf:hover {
    background-color: #A0201D !important; /* Un rojo más oscuro al pasar el mouse */
    color: white !important;
}

