.btn-pdf {
    background-color: #C02A24; /* Rojo típico de PDF */
    color: white; /* Texto en blanco para contraste */
    border: none; /* Opcional: elimina el borde */
}

.btn-pdf:hover {
    background-color: #A0201D; /* Un rojo más oscuro al pasar el mouse */
    color: white;
}

