.popup-text-recap-auth {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.popup-text-recap-auth header {
    flex: 1;
    background-color: #017e84 !important;
    color: #FFFFFF;
}

.input-recap, .input-autorizacion, .input-reference {
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}