.input-recap, .input-autorizacion, .input-reference {
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

.title {
    background-color: #017e84;
}

.fields {
    height: 180px;
}