.popup-text-recap-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.popup-text-recap-auth .title {
    background-color: #017e84;
}

.input-recap, .input-autorizacion, .input-reference {
    margin-top: 10px; /* Espacio superior */
    margin-bottom: 10px; /* Espacio inferior */
}

.fields {
    height: 180px;
}