.pos .partnerlist-screen .partner-detail{
    display: flex;
    align-items: center;
}

.pos .partnerlist-screen .partner-detail > .label{
    display: flex;
    font-weight: bold;
    width: 100px;
    text-align: left;
    margin-right: 8px;
}

.pos .partnerlist-screen .partner-details input {
    padding: 5px 7px;
}

.partner-details-left .partner-detail:nth-child(3) {
    display: none;
}

.partner-details-right .partner-detail:nth-child(5) {
    display: none;
}

.partnerlist-screen .screen-content .top-content .more-info {
    display: none;
}

@media screen and (max-width: 768px) {
    .pos .partnerlist-screen .partner-detail{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

