.pos .partnerlist-screen .partner-detail{
    display: flex;
    align-items: center;
}

.pos .partnerlist-screen .partner-detail > .label{
    display: flex;
    font-weight: bold;
    width: 100px;
    text-align: left;
    margin-right: 8px;
}